@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
.wrapper {
  /* overflow: hidden; */
}
.wrap {
  max-width: 1200px;
  height: 4743px;
  margin: 0 auto;
}
.header {
  max-width: 1200px;
  height: 71px;
  background: #121214;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}
.header-nav {
  width: 618px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-a {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #a6a8ad;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-aut {
  width: 157px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-login {
  width: 42px;
  height: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #a6a8ad;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-aut-btn {
  padding: 8px 21px;
  width: 95px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blue {
  width: 1200px;
  height: 46px;
  background: #0033ff;
  display: flex;
  align-items: center;
}
.blue-p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 240px;
}
.blue-a {
  width: 80px;
  height: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 70px;
}
